<script src="../scripts/router.js"></script>
<link rel="stylesheet" href="./layout_style.css">

<!-- Path -->
<script>
    path('/layout/footer.html');
</script>

<div class="row">
    <div class="col-lg-9 col-sm-12">
        <div class="container">
            <h1 class="font-size-huge font-weight-light">Footer</h1>
            <br>
            <p class="title font-weight-lighter">This end can take you everywhere</p>
            


<!-- Navbar demo #1 -->
<a id="footer"></a>
<div class="code-demo">

<h3 class="font-weight-normal">1. Footer</h3>

<!-- Just simple footer -->

<code class="iframe-code-snippet border">

<!-- Footer -->

<div class="main"></div>

<!-- Footer is a special tag to be used only for a footer -->
<footer>
    <div class="container">
        <div class="row">
            <!-- center-mobile-content is a generic class that will center things on a mobile device -->
            <!-- footer-info is a class that will be used to give margins and paddings to the information in the footer. -->
            <div class="col-lg-6 col-md-12 col-sm-12 center-mobile-content footer-info">
                    <h1>Fosterio</h1>
                    <div class="mt-20">
                        <i class="ri-instagram-line ri-xl outline-btn round-btn mr-5"></i>
                        <i class="ri-twitter-line ri-xl outline-btn round-btn mr-5"></i>
                        <i class="ri-youtube-line ri-xl outline-btn round-btn mr-5"></i>
                    </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4 center-mobile-content">
                <p class="title">Layout</p>
                <p>Navbar</p>
                <p>Navbar</p>
                <p>Navbar</p>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4 center-mobile-content">
                <p class="title">Layout</p>
                <p>Navbar</p>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4 center-mobile-content">
                <p class="title">Layout</p>
                <p>Navbar</p>
                <p>Navbar</p>
            </div>
        </div>
    </div>
</footer>

<!-- Footer End -->

</code>

<p class="quote">
    What you see in the demo is a tablet view. Its because iframe is small. If not, then your screen is too big. 😃
</p>

<p>
    <span class="code">footer</span> is used to define a footer. Most of the things inside is just playing with columns and rows.
</p>

<p>
    <span class="code">center-mobile-content</span> is a generic class that aligns things in center horizontally on a mobile device. This is used here to make the footer look beautiful on a phone.
</p>

<p>
    <span class="code">footer-info</span> is a special class that gives some margin and padding to the information in both tablet and mobile views.
</p>

</div>

        </div>
        <br>
        <br>
        <br>
    </div>

    <div class="col-lg-3 col-sm-12">

        <div class="container fixed">
            <h1 class="title font-weight-light">Index</h1>
            <ol>
                <li><p><a href="#footer">Footer</a></p></li>
                <!-- <li><p><a href="#navbar-sidebar">Navbar - Sidebar</a></p></li> -->
                <!-- <li><p><a href="#hybrid-sidebar">Hybrid Sidebar</a></p></li> -->
            </ol>
        </div>

    </div>
</div>


<script>
    document.title = "Footer";
    make_async();
    loadCodeSnippet();
</script>