<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fosterio</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">

    <!-- Logos -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">


    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
</head>

<body>

    <!-- Navbar -->
    <nav>
        <div class="nav-left-side">
            <i onclick="sidebar_toggle('partial')" class="ri-menu-2-line ri-xl pointer"></i>
            <div class="logo"><h3 class="bold">Fosterio</h3></div>
        </div>
        <ul class="nav-links">
            <li><a href="https://github.com/brainspoof/fosterio">GitHub</a></li>
            <li><a href="https://github.com/brainspoof/fosterio">GitHub</a></li>
            <li><a href="https://github.com/brainspoof/fosterio">GitHub</a></li>
        </ul>
    </nav>
    <!-- Navbar ends -->


    <!-- Sidebar -->
    <div class="sidebar sidebar-partial">
        <!-- Section Important -->
        <div class="sidebar-section">
            <div class="title">Layout</div>
            <div class="sidebar-element"><a href="./Layout/Nav.html"><i class="ri-home-line ri-lg"></i> <span>Navbar</span></a></div>
            <div class="sidebar-element"><a href="#"><i class="ri-team-line ri-lg"></i> <span>Sidebar</span></a></div>
            <!-- <div class="sidebar-element"><a href="#"><i class="ri-phone-line ri-lg"></i> <span>Contact Us</span></a></div> -->
        </div>

        <!-- <div class="sidebar-section">
            <div class="title">Important</div>
            <div class="sidebar-element"><a href="#"><i class="ri-home-line ri-lg"></i> <span>Home</span></a></div>
            <div class="sidebar-element"><a href="#"><i class="ri-team-line ri-lg"></i> <span>About</span></a></div>
            <div class="sidebar-element"><a href="#"><i class="ri-phone-line ri-lg"></i> <span>Contact Us</span></a></div>
        </div> -->
        
    </div>
    <!-- Sidebar ends -->

    <!-- Main Content -->

    <div class="main">
        <h1>Hello</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil hic sunt eos maiores placeat, earum, blanditiis corrupti minus repudiandae velit mollitia quod commodi quasi? Repellendus nihil, porro aut aliquam enim praesentium itaque tempore sunt, qui dicta magnam illo soluta suscipit! Eaque sequi, magni eum enim unde nihil alias suscipit voluptatem?</p>
    </div>

    <!-- End main -->

    <script src="../scripts/main.js"></script>
 <script>
function includeHTML() {
  var z, i, elmnt, file, xhttp;
  /* Loop through a collection of all HTML elements: */
  z = document.getElementsByTagName("*");
  for (i = 0; i < z.length; i++) {
    elmnt = z[i];
    /*search for elements with a certain atrribute:*/
    file = elmnt.getAttribute("w3-include-html");
    if (file) {
      /* Make an HTTP request using the attribute value as the file name: */
      xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4) {
          if (this.status == 200) {elmnt.innerHTML = this.responseText;}
          if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
          /* Remove the attribute, and call this function once more: */
          elmnt.removeAttribute("w3-include-html");
          includeHTML();
        }
      }
      xhttp.open("GET", file, true);
      xhttp.send();
      /* Exit the function: */
      return;
    }
  }
}
</script> 
</body>
</html>
