<!DOCTYPE html>
<html lang="en">
<head>
    <title>Navbar - Fosterio</title>

    <script src="../scripts/fetchHtml.js"></script>

    <!-- Styles -->
    <div w3-include-html="../reuse/body_imports.html"></div>

    <script>
        includeHTML();
    </script>

    <link rel="stylesheet" type="text/css" href="../styles/main.css">
</head>

<body>

    <!-- Navbar -->
    <div w3-include-html="../reuse/nav.html"></div>

    <script>
        includeHTML();
    </script>

    <!-- Sidebar -->
    <div w3-include-html="../reuse/sidebar.html"></div>

    <script>
        includeHTML();
    </script>

    <!-- Main Content -->

    <div class="main">
        <h1>Navbar Page</h1>
        <p>Navbar on the top, doing hip hop!</p>
    </div>

    <!-- End main -->

    <script src="../scripts/main.js"></script>

</body>
</html>
