<script src="../scripts/router.js"></script>

<!-- Path -->
<script>
    path('/layout/sidebar.html');
</script>

<div class="container">

    <h1 class="font-size-huge font-weight-light">Sidebar Page</h1>
    <p class="title font-weight-lighter">Sidebar is all that we love!</p>

    <div class="row">
        <div class="col-lg-1 col-md-5 col-sm-4"><div class="box"></div></div>
        <div class="col-lg-2 col-sm-4"><div class="box"></div></div>
        <div class="col-lg-3 col-md-5 col-sm-4"><div class="box"></div></div>
    </div>

    <code>
        <h1>Nice</h1>
    </code>

    <code>
        <h1>Hello</h1>
    </code>

</div>

<link rel="stylesheet" href="./layout_style.css">

<script>
    document.title = "Sidebar - Fosterio";
</script>