<script src="../scripts/router.js"></script>

<link rel="stylesheet" href="./component_style.css">

<!-- Path -->
<script>
    path('/components/buttons.html');
</script>

<div class="row">
    <div class="col-lg-9 col-md-12">
        <div class="container">

            <h1 class="font-size-huge font-weight-light">Buttons</h1>
            <br>
            <p class="title font-weight-lighter">The Clicky Wonderland</p>
            


<!-- Solid Button demo #1 -->
<a id="solid-buttons"></a>
<div class="code-demo">

<h3 class="font-weight-normal">1. Solid buttons</h3>


<code class="simple-code-snippet border">

<div class="simple-snippet">
<!-- 'solid-{type} renders a button of that type, dont forget to add the btn class. It looks horrible without it' -->
<!-- You can change the colors by editing css variables for --color-{type} -->

<button class="btn solid-primary">Primary</button>
<button class="btn solid-warning no-animation">Warning</button>
<button class="btn solid-success">Success</button>
<button class="btn solid-danger">Danger</button>

</div>


</code>

<p class="quote">Add the class <span class="code">btn</span> for the output to be like a button.</p>

<p><span class="code">solid-{type}</span> outputs a button with the specified type. You can change the colors of the types by overwriting the css variable <span class="code">--color-{type}</span></p>

<p>Available types are: <br>
    1) primary<br>
    2) warning<br>
    3) success<br>
    4) danger<br>
</p>

<p>Don't forget to add class <span class="code">btn</span> for it to look like a button.</p>

<p><span class="code">no-animation</span><span class="code">no-transition</span> classes can be used to remove animations and transitions respectively.</p>
</div>


<a id="outlined-buttons"></a>
<div class="code-demo">

<h3 class="font-weight-normal">2. Outlined Buttons</h3>


<code class="simple-code-snippet border">
<div class="simple-snippet">
<!-- class 'btn' can turn anything into a button looking thing -->
<button class="btn">Button</button>

<button class="btn outlined-primary">Primary</button>
<button class="btn outlined-warning">Warning</button>
<button class="btn outlined-success">Success</button>
<button class="btn outlined-danger">Danger</button>

</div>
</code>


<p class="quote">Add the class <span class="code">btn</span> for the output to be like a button.</p>

<p><span class="code">outlined-{type}</span> outputs a button with the specified type. You can change the colors of the types by overwriting the css variable <span class="code">--color-{type}</span></p>

<p>Available types are: <br>
    1) primary<br>
    2) warning<br>
    3) success<br>
    4) danger<br>
    </p>

<p>Don't forget to add class <span class="code">btn</span> for it to look like a button.</p>

</div>


        </div>
        <br>
        <br>
    </div>

    <div class="col-lg-3">
        <div class="container fixed">
            <h1 class="title font-weight-light">Index</h1>
            <ol>
                <li><p><a href="#solid-buttons">Solid Buttons</a></p></li>
            </ol>
        </div>
    </div>
</div>

<script>
    document.title = "Buttons";
    make_async();
    loadCodeSnippet();
</script>