<script src="../scripts/router.js"></script>

<!-- Path -->
<script>
    path('/components/buttons.html');
</script>

<div class="row">
    <div class="col-lg-9 col-md-12">
        <div class="container">

            <h1 class="font-size-huge font-weight-light">Buttons</h1>
            <br>
            <p class="title font-weight-lighter">The Clicky Wonderland</p>
            


<!-- Sidebar demo #1 -->
<a id="solid-buttons"></a>
<div class="code-demo">

<h3 class="font-weight-normal">1. Solid buttons</h3>


<code class="simple-code-snippet border">

<div class="simple-snippet">

    <button class="btn">Nice</button>

</div>


</code>

</div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="container fixed">
            <h1 class="title font-weight-light">Index</h1>
            <ol>
                <li><p><a href="#solid-buttons">Solid Buttons</a></p></li>
            </ol>
        </div>
    </div>
</div>

<script>
    document.title = "Buttons";
    make_async();
    loadCodeSnippet();
</script>