<script src="../scripts/router.js"></script>

<!-- Path -->
<script>
    path('/components/carousel.html');
</script>

<div class="container">

    <div class="dimentional-carousel">

        <!-- Controls -->
        <div class="controls"></div>

        <div class="carousel-item">
            <div class="card border">
                <!-- class 'fit-img' fits an image in the given width with object fit as cover -->
                <img class="fit-img" src="https://images.unsplash.com/photo-1635693924419-b0a6abcf2620?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80" alt="Sample">
            
                <div class="p-10">
                    <p>A mushroom or toadstool is the fleshy, spore-bearing fruiting body of a fungus, typically produced above ground, on soil, or on its food source.</p>
            
                    <!-- Icon Text is a class to help text being more readable by spacing icons and text -->
                    <div class="icon-text"><i class="ri-ancient-gate-line"></i> House</div>
                    <div class="icon-text"><i class="ri-projector-line"></i> Show to Everyone</div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="card border">
                <!-- class 'fit-img' fits an image in the given width with object fit as cover -->
                <img class="fit-img" src="https://images.unsplash.com/photo-1635701438149-26737db0147a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1474&q=80" alt="Sample">
            
                <div class="p-10">
                    <p>A mushroom or toadstool is the fleshy, spore-bearing fruiting body of a fungus, typically produced above ground, on soil, or on its food source.</p>
            
                    <!-- Icon Text is a class to help text being more readable by spacing icons and text -->
                    <div class="icon-text"><i class="ri-ancient-gate-line"></i> House</div>
                    <div class="icon-text"><i class="ri-projector-line"></i> Show to Everyone</div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="card border">
                <!-- class 'fit-img' fits an image in the given width with object fit as cover -->
                <img class="fit-img" src="https://images.unsplash.com/photo-1635372885847-ef1ccae5eaef?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1374&q=80" alt="Sample">
            
                <div class="p-10">
                    <p>A mushroom or toadstool is the fleshy, spore-bearing fruiting body of a fungus, typically produced above ground, on soil, or on its food source.</p>
            
                    <!-- Icon Text is a class to help text being more readable by spacing icons and text -->
                    <div class="icon-text"><i class="ri-ancient-gate-line"></i> House</div>
                    <div class="icon-text"><i class="ri-projector-line"></i> Show to Everyone</div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="card border">
                <!-- class 'fit-img' fits an image in the given width with object fit as cover -->
                <img class="fit-img" src="https://images.unsplash.com/photo-1635372886251-5f0f23afe835?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="Sample">
            
                <div class="p-10">
                    <p>A mushroom or toadstool is the fleshy, spore-bearing fruiting body of a fungus, typically produced above ground, on soil, or on its food source.</p>
            
                    <!-- Icon Text is a class to help text being more readable by spacing icons and text -->
                    <div class="icon-text"><i class="ri-ancient-gate-line"></i> House</div>
                    <div class="icon-text"><i class="ri-projector-line"></i> Show to Everyone</div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="card border">
                <!-- class 'fit-img' fits an image in the given width with object fit as cover -->
                <img class="fit-img" src="https://images.unsplash.com/photo-1593642634402-b0eb5e2eebc9?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1469&q=80" alt="Sample">
            
                <div class="p-10">
                    <p>A mushroom or toadstool is the fleshy, spore-bearing fruiting body of a fungus, typically produced above ground, on soil, or on its food source.</p>
            
                    <!-- Icon Text is a class to help text being more readable by spacing icons and text -->
                    <div class="icon-text"><i class="ri-ancient-gate-line"></i> House</div>
                    <div class="icon-text"><i class="ri-projector-line"></i> Show to Everyone</div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    document.title = "Carousel";
    make_async();
    dimentional_carousel();
</script>