.btn{
    padding: 0.5rem;
    background-color: transparent;
    border: var(--border-thickness) var(--text-color) var(--border-style);
    cursor: pointer;
    border-radius: var(--small-border-radius);
    position: relative;

    &:active{
        animation: clicked var(--animation-time) ease;
    }
}

@keyframes clicked{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(0.9);
    }

    90%{
        transform: scale(1.05);
    }

    100%{
        transform: scale(1);
    }
}


$btnTypes: primary, warning, danger, success;

@each $type in $btnTypes{
    // Solid Buttons
    .solid-#{$type}{
        background: var(--color-#{$type});
        border-color: var(--color-#{$type});
        color: var(--main-background);
        transition: var(--transition-time);

        &:hover{
            filter: brightness(1.15);
        }

    }

    .outlined-#{$type}{
        border-color: var(--color-#{$type});
        color: var(--color-#{$type});
        transition: var(--transition-time);

        &:hover{
            background: var(--color-#{$type});
            color: var(--main-background);
        }
    }
}

.outline-btn-not-rounded{
    padding: 0.3rem 1.5rem;
    background: none;
    outline: none;
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;
    transition: var(--transition-time) all;

    &:hover{
        background: rgba(200, 200, 200, 0.2);
    }
}

.outline-btn{
    cursor: pointer;
    border: 2px var(--accent-color) solid;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    fill: var(--accent-color);
    color: var(--accent-color);
    transition: var(--transition-time);

    &:hover{
        background-color: var(--accent-color);
        fill: var(--main-background);
        color: var(--main-background);
    }
}

.round-btn{
    cursor: pointer;
    border-radius: 10000rem;
}

// DropDown

.dropdown{
    display: inline-block;
    position: relative;
    cursor: pointer;

    .dropdown-options{
        display: none;
        transition: var(--transition-time) opacity ease;
        position: absolute;
        top: 100%;
        z-index: 10;
        border-radius: var(--border-radius);
        padding: 1rem 0;
        background: var(--off-background);
        // box-shadow: 0 0 30px rgba(var(--accent-color-triad), 0.4);
        box-shadow: 0 0 20px var(--dropshadow-color);

        .dropdown-item{
            padding: 0.5rem 1rem;
            transition: var(--transition-time) background ease;
        }

        .dropdown-item:hover{
            background: rgba(var(--accent-color-triad), 0.3);
        }
    }

    .dropdown-left{
        left: 0;
    }

    .dropdown-right{
        right: 0;
    }

    .dropdown-show{
        display: inline-block;
        animation: fade_dropdown var(--transition-time);
    }
}

.closedropdown{
    position: absolute;
    top: 0;
    right: 0;
}

// DropDown Ends

@keyframes fade_dropdown {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}
