// Font Sizes

@for $i from 1 through 6{
    h#{$i}{
        font-size: var(--h#{$i}-size);
    }
}

.title{
    font-size: var(--title-size);
}

.font-size-huge{
    font-size: var(--huge-font-size);
}

// Font Weight

$weights: bold, bolder, light, lighter, normal;

@each $weight in $weights{
    .font-weight-#{$weight}{
        font-weight: var(--font-#{$weight}-weight);
    }
}


// Custom Smooth Marquee

.marquee{
    white-space: nowrap;
    overflow: hidden;
}

.marquee *{
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    from{
        transform: translateX(100%);
    }

    to{
        transform: translateX(-160%);
    }
}