
.bold{
    font-weight: bold;
}

h1{
    font-size: var(--h1-size);
}

h2{
    font-size: var(--h2-size);
}

h3{
    font-size: var(--h3-size);
}

h4{
    font-size: var(--h4-size);
}

h5{
    font-size: var(--h5-size);
}

h6{
    font-size: var(--h6-size);
}

.title{
    font-size: var(--h4-size);
}
