@import './variables';



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: var(--defualt-font-size);
    color: var(--text-color);
    scrollbar-width: thin;
    scrollbar-color: var(--sidebar-color) transparent;
}

a{
    color: var(--link-color);
    text-decoration: none;
    transition: 0.2s all ease;

    &:hover{
        color: var(--accent-color);
    }
}

i{
    fill: var(--text-color);
}

.pointer{
    cursor: pointer;
}

body{
    background: var(--main-background);
}

.main{
    position: relative;
    transition: 0.5s ease all;
    transition-delay: 0.4s;
}

.container{
    position: relative;
    padding: var(--main-top-bottom-padding) var(--main-left-right-padding);
}

.complete-open{
    padding-left: var(--sidebar-open-width);
}

.partial-open{
    padding-left: var(--sidebar-partial-width);
}

.loader{
    position: absolute;
    top: 90%;
    left: 50%;
    width: var(--loading-square-side);
    height: var(--loading-square-side);
    border: 2px var(--loading-color) solid;
    border-radius: 0;
    background: transparent;
    transform: translate(-50%);
    transform: rotateZ(0deg);
}

.show-on-mobile{
    display: none;
}

@media only screen and (max-width: $mobile-breakpoint) {
    .container{
        padding: 1rem 2rem;
    }

    .complete-open, .partial-open{
        padding-left: 0;
    }

    .show-on-mobile{
        display:initial;
    }
}

// Imports
@import './navbar';
@import './sidebar';
@import './text';
@import './column';