@import './variables';



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Urbanist;
    font-size: 15px;
    color: var(--text-color);
    scrollbar-width: thin;
    scrollbar-color: var(--sidebar-color) transparent;
}

a{
    color: var(--link-color);
    text-decoration: none;
    transition: 0.2s all ease;

    &:hover{
        color: var(--accent-color);
    }
}

i{
    fill: var(--text-color);
}

.pointer{
    cursor: pointer;
}

body{
    background: var(--main-background);
}

.main{
    transition: 0.5s ease all;
    transition-delay: 0.4s;
    padding: 2% 4%;
}

.complete-open{
    margin-left: var(--sidebar-open-width);
}

.partial-open{
    margin-left: var(--sidebar-partial-width);
}



// Imports
@import './navbar';
@import './sidebar';
@import './text';
