:root {
  --color-primary: rgb(45, 152, 218);
  --color-danger: rgb(252, 92, 101);
  --color-warning: rgb(254, 211, 48);
  --color-success: rgb(38, 222, 129);
  --color-taxi-yellow: rgb(247, 183, 49);
  --color-leafy-green: rgb(32, 191, 107);
  --color-light-purple: rgb(165, 94, 234);
  --color-gloomy-purple: rgb(136, 84, 208);
  --color-silver-grey: rgb(165, 177, 194);
  --color-star-grey: rgb(209, 216, 224);
  --color-teal: rgb(43, 203, 186);
  --color-turquoise: rgb(15, 185, 177);
  --color-desire-red: rgb(235, 59, 90);
  --color-fusion-orange: rgb(253, 150, 68);
  --color-concentrated-orange: rgb(250, 130, 49);
  --color-matt-black: rgb(23, 23, 23);
  --color-off-white: rgb(245,245,245);
  --color-white: rgb(248, 251, 248);
  --color-dark-blue: rgb(75, 123, 236);
  --color-royal-blue: rgb(56, 103, 214);
  --color-night-blue: rgb(43,42,51);
  --text-color: var(--color-matt-black);
  --off-background: var(--color-off-white);
  --main-background: var(--color-white);
  --accent-color: var(--color-gloomy-purple);
  --link-color: var(--color-dark-blue);
  --scrollbar-color: var(--color-silver-grey);
  --loading-color: var(--color-silver-grey);
  --defualt-size: 15px;
  --text-font-size: 1em;
  --huge-font-size: 3.5em;
  --h1-size: 2.8em;
  --h2-size: 2.2em;
  --h3-size: 1.8em;
  --h4-size: 1.3em;
  --h5-size: 1.1em;
  --h6-size: 1em;
  --title-size: var(--h3-size);
  --font-family: Urbanist;
  --font-normal-weight: 400;
  --font-lighter-weight: 200;
  --font-light-weight: 300;
  --font-bold-weight: 600;
  --font-bolder-weight: 700;
  --sidebar-open-width: 13rem;
  --sidebar-partial-width: 5.5rem;
  --loading-square-side: 3rem;
  --loading-thickness: 5px;
  --border-radius: 0.5rem;
  --border-thickness: 1px;
  --border-style: solid;
  --border-color: var(--color-silver-grey);
  --code-snippet-border-color: var(--color-night-blue);
  --main-top-bottom-padding: 2%;
  --main-left-right-padding: 4%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--defualt-font-size);
  color: var(--text-color);
  scrollbar-width: thin;
  scrollbar-color: var(--sidebar-color) transparent;
}

a {
  color: var(--link-color);
  text-decoration: none;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

a:hover {
  color: var(--accent-color);
}

i {
  fill: var(--text-color);
}

.pointer {
  cursor: pointer;
}

body {
  background: var(--main-background);
}

.main {
  position: relative;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.container {
  position: relative;
  padding: var(--main-top-bottom-padding) var(--main-left-right-padding);
}

.complete-open {
  padding-left: var(--sidebar-open-width);
}

.partial-open {
  padding-left: var(--sidebar-partial-width);
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.loader {
  position: relative;
  width: var(--loading-square-side);
  height: var(--loading-square-side);
  border: var(--loading-thickness) var(--loading-color) solid;
  border-radius: 100%;
  -webkit-border-after: solid;
          border-block-end: solid;
  border-block-end-color: var(--accent-color);
  border-block-end-width: var(--loading-thickness);
  -webkit-animation: load 1s linear infinite;
          animation: load 1s linear infinite;
}

@-webkit-keyframes load {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes load {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.show-on-mobile {
  display: none;
}

@media only screen and (max-width: 650px) {
  .container {
    padding: 1rem 2rem;
  }
  .complete-open, .partial-open {
    padding-left: 0;
  }
  .show-on-mobile {
    display: initial;
  }
}

nav {
  height: auto;
  width: 100%;
  background: var(--off-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
}

.close-nav-links {
  display: none;
}

.nav-links {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
}

.nav-links a:hover {
  color: var(--accent-color);
}

.nav-left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-left-side i {
  margin-right: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

@media only screen and (max-width: 650px) {
  .reverse-mobile-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .nav-left-side {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-on-mobile {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--off-background);
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    z-index: 100;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: 0.6s all ease;
    transition: 0.6s all ease;
  }
  .nav-on-mobile li {
    margin: 1rem;
    font-size: 2rem;
    opacity: 0;
    position: relative;
    top: 20px;
    -webkit-transition: 0.6s all ease;
    transition: 0.6s all ease;
  }
  .nav-on-mobile li * {
    font-size: 2rem;
  }
  .nav-on-mobile .close-nav-links {
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--accent-color);
    top: 0;
    right: 0;
    font-size: 3rem;
    margin: 1.5rem 2rem;
    cursor: pointer;
  }
  .nav-on-mobile-open {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  .nav-on-mobile-open li {
    opacity: 1;
    position: relative;
    top: 0px;
  }
}

.sidebar {
  background: var(--off-background);
  display: inline-block;
  position: fixed;
  width: var(--sidebar-open-width);
  height: 100%;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  overflow: auto;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 2;
}

.sidebar .sidebar-section {
  position: relative;
  margin: 2rem 0;
  padding: 0 2rem 2rem 2rem;
}

.sidebar .sidebar-element {
  margin: 1.2rem 0;
  width: 100%;
}

.sidebar .sidebar-element a, .sidebar .sidebar-element span {
  position: relative;
  width: 100%;
  text-decoration: none;
  color: var(--link-color);
  white-space: nowrap;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.sidebar .sidebar-element a:hover, .sidebar .sidebar-element span:hover {
  color: var(--accent-color);
}

.sidebar .sidebar-element a {
  display: block;
  position: relative;
  width: 100%;
}

.sidebar .sidebar-element a:hover span {
  color: var(--accent-color);
}

.sidebar .sidebar-element span {
  position: relative;
  top: -0.12rem;
}

.sidebar .sidebar-element i {
  margin: 0 0.4rem 0 0.1rem;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.sidebar .title {
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 0.5rem;
  margin: 0 0 1rem;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.sidebar-open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.sidebar-partial {
  overflow-x: hidden;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-animation: reducewidth 0.2s ease-in 0.2s forwards;
          animation: reducewidth 0.2s ease-in 0.2s forwards;
}

.sidebar-partial .sidebar-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: var(--accent-color);
}

.sidebar-partial .sidebar-section .title {
  -webkit-animation: fadeoff 0.3s ease forwards;
          animation: fadeoff 0.3s ease forwards;
}

.sidebar-partial .sidebar-section span {
  -webkit-animation: fadeoff 0.3s ease forwards;
          animation: fadeoff 0.3s ease forwards;
}

.sidebar-partial .sidebar-section i {
  padding: 0.5rem;
  position: relative;
  z-index: 2;
}

.sidebar-partial .sidebar-section i::before {
  position: relative;
  z-index: 1;
}

.sidebar-partial .sidebar-section i::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  z-index: 0;
  background: var(--accent-color);
  opacity: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.sidebar-partial .sidebar-section i:hover::after {
  opacity: 0.5;
}

@-webkit-keyframes fadeoff {
  0% {
    opacity: 1;
    display: inherit;
  }
  95% {
    opacity: 0;
    display: inherit;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeoff {
  0% {
    opacity: 1;
    display: inherit;
  }
  95% {
    opacity: 0;
    display: inherit;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes reducewidth {
  100% {
    width: var(--sidebar-partial-width);
  }
}

@keyframes reducewidth {
  100% {
    width: var(--sidebar-partial-width);
  }
}

@media only screen and (max-width: 650px) {
  .sidebar-partial {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

h4 {
  font-size: var(--h4-size);
}

h5 {
  font-size: var(--h5-size);
}

h6 {
  font-size: var(--h6-size);
}

.title {
  font-size: var(--title-size);
}

.font-size-huge {
  font-size: var(--huge-font-size);
}

.font-weight-bold {
  font-weight: var(--font-bold-weight);
}

.font-weight-bolder {
  font-weight: var(--font-bolder-weight);
}

.font-weight-light {
  font-weight: var(--font-light-weight);
}

.font-weight-lighter {
  font-weight: var(--font-lighter-weight);
}

.font-weight-normal {
  font-weight: var(--font-normal-weight);
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
}

.marquee * {
  -webkit-animation: marquee 15s linear infinite;
          animation: marquee 15s linear infinite;
}

@-webkit-keyframes marquee {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-160%);
            transform: translateX(-160%);
  }
}

@keyframes marquee {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-160%);
            transform: translateX(-160%);
  }
}

.row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.col-1 {
  width: calc(100%*1/12);
}

.col-2 {
  width: calc(100%*2/12);
}

.col-3 {
  width: calc(100%*3/12);
}

.col-4 {
  width: calc(100%*4/12);
}

.col-5 {
  width: calc(100%*5/12);
}

.col-6 {
  width: calc(100%*6/12);
}

.col-7 {
  width: calc(100%*7/12);
}

.col-8 {
  width: calc(100%*8/12);
}

.col-9 {
  width: calc(100%*9/12);
}

.col-10 {
  width: calc(100%*10/12);
}

.col-11 {
  width: calc(100%*11/12);
}

.col-12 {
  width: calc(100%*12/12);
}

.col-lg-1 {
  width: calc(100%*1/12);
}

.col-lg-2 {
  width: calc(100%*2/12);
}

.col-lg-3 {
  width: calc(100%*3/12);
}

.col-lg-4 {
  width: calc(100%*4/12);
}

.col-lg-5 {
  width: calc(100%*5/12);
}

.col-lg-6 {
  width: calc(100%*6/12);
}

.col-lg-7 {
  width: calc(100%*7/12);
}

.col-lg-8 {
  width: calc(100%*8/12);
}

.col-lg-9 {
  width: calc(100%*9/12);
}

.col-lg-10 {
  width: calc(100%*10/12);
}

.col-lg-11 {
  width: calc(100%*11/12);
}

.col-lg-12 {
  width: calc(100%*12/12);
}

@media only screen and (max-width: 1024px) {
  .col-md-1 {
    width: calc(100%*1/12);
  }
  .col-md-2 {
    width: calc(100%*2/12);
  }
  .col-md-3 {
    width: calc(100%*3/12);
  }
  .col-md-4 {
    width: calc(100%*4/12);
  }
  .col-md-5 {
    width: calc(100%*5/12);
  }
  .col-md-6 {
    width: calc(100%*6/12);
  }
  .col-md-7 {
    width: calc(100%*7/12);
  }
  .col-md-8 {
    width: calc(100%*8/12);
  }
  .col-md-9 {
    width: calc(100%*9/12);
  }
  .col-md-10 {
    width: calc(100%*10/12);
  }
  .col-md-11 {
    width: calc(100%*11/12);
  }
  .col-md-12 {
    width: calc(100%*12/12);
  }
}

@media only screen and (max-width: 650px) {
  .col-sm-1 {
    width: calc(100%*1/12);
  }
  .col-sm-2 {
    width: calc(100%*2/12);
  }
  .col-sm-3 {
    width: calc(100%*3/12);
  }
  .col-sm-4 {
    width: calc(100%*4/12);
  }
  .col-sm-5 {
    width: calc(100%*5/12);
  }
  .col-sm-6 {
    width: calc(100%*6/12);
  }
  .col-sm-7 {
    width: calc(100%*7/12);
  }
  .col-sm-8 {
    width: calc(100%*8/12);
  }
  .col-sm-9 {
    width: calc(100%*9/12);
  }
  .col-sm-10 {
    width: calc(100%*10/12);
  }
  .col-sm-11 {
    width: calc(100%*11/12);
  }
  .col-sm-12 {
    width: calc(100%*12/12);
  }
}

.border {
  border: var(--border-thickness) var(--border-color) var(--border-style);
  border-radius: var(--border-radius);
}

.border-top {
  border-top: var(--border-thickness) var(--border-color) var(--border-style);
}

.border-bottom {
  border-bottom: var(--border-thickness) var(--border-color) var(--border-style);
}

.border-left {
  border-left: var(--border-thickness) var(--border-color) var(--border-style);
}

.border-right {
  border-right: var(--border-thickness) var(--border-color) var(--border-style);
}

.fixed {
  position: fixed;
  z-index: 1001;
}

iframe.code-snippet-output {
  position: relative;
  width: 100%;
  border: 10px var(--code-snippet-border-color) solid;
}

code.display-code-snippet {
  width: 100%;
  display: block;
  overflow: hidden;
  padding: var(--border-radius) 0 0 0;
  margin: 1rem 0;
  padding-top: 1rem;
  position: relative;
}

code.display-code-snippet::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 100%;
  background: var(--code-snippet-border-color);
  z-index: 1;
}

.hljs {
  display: block;
}

.hljs-attr {
  color: whitesmoke;
}
/*# sourceMappingURL=main.css.map */